$negro: #35353F;
$blanco: #F3F7F9;
$azul: #4E869F;
$azul-claro: #BED5DF;
$azul-oscuro: #2E4F5D;
$azul-boton: #84ABBC;
$celeste: #6ED5F8;
.bloque-acordion {
    .accordion {
        background-color: $azul-oscuro;
        color: $blanco;
        cursor: pointer;
        padding: 10px 0px 10px 16px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 1.2rem;
        transition: 0.4s;
        margin-top: 1.5rem;
        border-radius: 5px;
        @media (min-width: 750px) {
            padding: 16px 0 16px 48px;
            font-size: 1.4rem;
            margin-top: 1.8rem;
        }
        &:first-child {
            margin-top: 0;
        }
    }
    .active,
    .accordion:hover {
        background-color: $azul;
    }
    .accordion:after {
        content: '\002B';
        color: $blanco;
        float: right;
        margin-right: 12px;
        @media (min-width: 750px) {
            margin-right: 48px;
        }
    }
    .active:after {
        content: "\2212";
    }
    .panel {
        padding: 0px 8px;
        background-color: $azul-claro;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
        font-size: 1.2rem;
        color: $negro;
        @media (min-width: 750px) {
            font-size: 1.4rem;
            padding: 0px 56px;
        }
        .detalle-examen {
            margin-bottom: 12px;
            &:first-child {
                padding-top: 12px;
                @media (min-width: 750px) {
                    padding-top: 20px;
                }
            }
            &:last-child {
                padding-bottom: 20px;
            }
            .nombre {
                font-weight: bold;
                @media (min-width: 750px) {
                    display: inline-block;
                }
            }
            .detalle {
                font-size: 1rem;
                @media (min-width: 750px) {
                    font-size: 1.2rem;
                }
            }
            .precio {
                display: none;
            }
        }
        .boton-reservar {
            display: flex;
            margin: 18px 0 28px;
            a {
                margin: 0 auto;
            }
        }
    }
}