/* Variables */
$negro: #35353F;
$width: 32px;
$ylinea1: translateY(8px);
$ylinea3: translateY(-10px);
$animation: ease-in-out forwards 0.4s;

/* Mixin */
@mixin linea() {
    height: 3px;
    background-color: $negro;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

/* Animacion Icono */
.icono-menu {
    width: $width;
    margin: auto;
    /* Inicial */
    .linea-1 {
        @include linea();
        animation: linea-1-inicial $animation;
    }
    .linea-2 {
        @include linea();
        /* Separación entre lineas */
        margin: 6px auto;
        /* Animacion */
        animation: linea-2-inicial $animation;
    }
    .linea-3 {
        @include linea();
        animation: linea-3-inicial $animation;
    }
    /* Activo */
    &.activo {
        .linea-1 {
            animation: linea-1 $animation;
        }
        .linea-2 {
            animation: linea-2 ease-in-out forwards 0.2s;
        }
        .linea-3 {
            animation: linea-3 $animation;
        }
    }
}

/* Keyframes */
@keyframes linea-1 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: $ylinea1 rotate(0);
    }
    100% {
        transform: $ylinea1 rotate(45deg);
    }
}

@keyframes linea-1-inicial {
    0% {
        transform: $ylinea1 rotate(45deg);
    }
    50% {
        transform: $ylinea1 rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}

@keyframes linea-2 {
    0% {
        width: $width;
        opacity: 1;
    }
    80% {
        width: 10px;
        opacity: 0.5;
    }
    100% {
        width: 0px;
        opacity: 0;
    }
}

@keyframes linea-2-inicial {
    0% {
        width: 0px;
        opacity: 0;
    }
    50% {
        width: 10px;
        opacity: 0.5;
    }
    100% {
        width: $width;
        opacity: 1;
    }
}

@keyframes linea-3 {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: $ylinea3 rotate(0);
    }
    100% {
        transform: $ylinea3 rotate(135deg);
    }
}

@keyframes linea-3-inicial {
    0% {
        transform: $ylinea3 rotate(135deg);
    }
    50% {
        transform: $ylinea3 rotate(0);
    }
    100% {
        transform: translateY(0) rotate(0);
    }
}