$blanco: #F3F7F9;
.nav {
    height: 6rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: height 0.3s;
    display: flex;
    background-color: $blanco;
    box-shadow: 0px 1px 6px #CDCDCD;
    @media (min-width: 750px) {
        height: 8rem;
    }
    .contenedor {
        width: 90%;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        @media (min-width: 750px) {
            width: 100%;
        }
    }
    .menu-mobile {
        display: flex;
        height: 32px;
        margin: auto 0;
        @media (min-width: 750px) {
            display: none;
        }
    }
}

.imagen-logo {
    margin: auto 0;
    text-align: center;
    height: 6rem;
    transition: height 0.3s;
    @media (min-width: 750px) {
        height: 7rem;
    }
}

.nav100 {
    height: 4rem;
    transition: height 0.3s;
    @media (min-width: 750px) {
        height: 6rem;
    }
}

.nav100 .imagen-logo {
    height: 4rem;
    transition: height 0.3s;
    @media (min-width: 750px) {
        height: 6rem;
    }
}