$blanco: #F3F7F9;
$negro: #35353F;
$azul-oscuro: #2E4F5D;
.navbar {
    font-weight: normal;
    height: 6rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 12;
    transition: height 0.3s;
    display: flex;
    background-color: $blanco;
    box-shadow: 0px 1px 6px #CDCDCD;
    @media (min-width: 768px) {
        height: 7rem;
    }
    @media (min-width: 1200px) {
        height: 8rem;
    }
    .contenedor100 {
        #check {
            display: none;
        }
        #check:checked~nav {
            left: 0;
        }
        .checkbtn {
            display: block;
            height: 32px;
            width: 32px;
            margin: auto 0;
            @media (min-width: 1200px) {
                display: none;
            }
            .icono-mobile {
                display: flex;
                height: 32px;
                margin: auto 0;
                @media (min-width: 1200px) {
                    display: none;
                }
            }
        }
    }
}


/* Menu de navegación */

.navegacion {
    position: fixed;
    width: 100%;
    background: $blanco;
    top: 6rem;
    left: 100%;
    transition: all .5s;
    z-index: 10;
    @media (min-width: 768px) {
        top: 7rem;
    }
    @media (min-width: 1200px) {
        position: inherit;
        display: flex;
        text-align: center;
    }
    .enlaces {
        font-size: 1.2rem;
        @media (min-width: 1200px) {
            margin: auto 0px auto auto;
            text-align: right;
            font-size: 1.4rem;
        }
        .enlace {
            padding: 25px 0 25px 40px;
            line-height: 30px;
            border-top: solid 0.1px #58585B;
            @media (min-width: 1200px) {
                padding: 0 0 0 80px;
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
                border: none;
            }
            &:last-child {
                border-bottom: solid 0.1px #58585B;
                @media (min-width: 1200px) {
                    border: none;
                }
            }
            a {
                color: $negro;
                &.active,
                &:hover {
                    color: $azul-oscuro;
                    transition: .3s;
                }
                &.active {
                    font-weight: 700;
                }
            }
        }
    }
}


/* Corrección del top en menú mobile animado */

.nav4rem {
    top: 4rem;
}


/* Submenu */

.enlaces {
    .icono-submenu {
        position: absolute;
        margin-top: 6px;
        margin-left: 10px;
        @media (min-width: 1200px) {
            margin-top: 30px;
        }
    }
    li.activo>a>.icono-submenu {
        transform: translateY(0) rotate(180deg);
    }
    li>ul {
        display: none;
    }
    li.activo>ul {
        display: block;
        right: 300px;
        background-color: $blanco;
        @media (min-width: 1200px) {
            position: fixed;
        }
    }
    li.activo>ul>li {
        padding: 0 40px;
    }
    .submenu li {
        margin: 1.2rem 0;
        &:last-child {
            margin: 0;
        }
    }
}


/* Corrección del top en submenu */

.submenu {
    top: 8rem;
}

.sub6rem {
    top: 6rem;
}


/* Nav se achica al hacer scroll */

.imagen-logo {
    margin: auto 0;
    text-align: center;
    height: 6rem;
    transition: height 0.3s;
    @media (min-width: 768px) {
        height: 7rem;
    }
}

.nav100 {
    height: 4rem;
    transition: height 0.3s;
    @media (min-width: 768px) {
        height: 6rem;
    }
}

.nav100 .imagen-logo {
    height: 4rem;
    transition: height 0.3s;
    @media (min-width: 768px) {
        height: 6rem;
    }
}