    $blanco: #F3F7F9;
    $negro: #35353F;
    $azul-oscuro: #2E4F5D;
    .nav {
        height: 6rem;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 12;
        transition: height 0.3s;
        display: flex;
        background-color: $blanco;
        box-shadow: 0px 1px 6px #CDCDCD;
        @media (min-width: 750px) {
            height: 8rem;
        }
        .contenedor {
            width: 90%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            @media (min-width: 750px) {
                width: 100%;
            }
            .checkbtn {
                display: block;
                @media (min-width: 750px) {
                    display: none;
                }
            }
        }
        .icono-mobile {
            display: flex;
            height: 32px;
            margin: auto 0;
            @media (min-width: 750px) {
                display: none;
            }
        }
    }
    
    .imagen-logo {
        margin: auto 0;
        text-align: center;
        height: 6rem;
        transition: height 0.3s;
        @media (min-width: 750px) {
            height: 7rem;
        }
    }
    
    .nav100 {
        height: 4rem;
        transition: height 0.3s;
        @media (min-width: 750px) {
            height: 6rem;
        }
    }
    
    .nav100 .imagen-logo {
        height: 4rem;
        transition: height 0.3s;
        @media (min-width: 750px) {
            height: 6rem;
        }
    }
    
    .navegacion {
        position: fixed;
        width: 100%;
        background: $blanco;
        top: 4rem;
        right: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 10;
        @media (min-width: 750px) {
            position: relative;
            float: right;
            top: 0;
            right: 0;
            text-align: right;
            background: none;
        }
        .enlace {
            @media (min-width: 750px) {
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
            }
            a {
                color: $negro;
                &.active,
                &:hover {
                    color: $azul-oscuro;
                    transition: .5s;
                }
            }
        }
    }
    /* CSS prueba */
    /*  nav ul {
        float: right;
        margin-right: 20px;
    }*/
    /*   nav ul li {
        display: inline-block;
        line-height: 80px;
        margin: 0 5px;
    }*/
    /*  nav ul li a {
        color: #fff;
        font-size: 18px;
        padding: 7px 13px;
        border-radius: 3px;
        text-transform: uppercase;
    }*/
    /*  li a.active,
    li a:hover {
        background: #000090;
        transition: .5s;
    }*/
    /*  .checkbtn {
        font-size: 30px;
        color: #fff;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
    }*/
    
    #check {
        display: none;
    }
    /*  .enlace {
            padding-left: 20px;
        }*/
    /*  nav ul li a {
            font-size: 16px;
        }*/
    
    @media (max-width: 858px) {
        /*.checkbtn {
            display: block;
        }*/
        /*ul {
            position: fixed;
            width: 100%;
            height: 100vh;
            background: $blanco;
            top: 4rem;
            left: -100%;
            text-align: center;
            transition: all .5s;
            z-index: 10;
        }*/
        nav ul li {
            display: block;
            margin: 50px 0;
            line-height: 30px;
        }
        nav ul li a {
            font-size: 20px;
        }
        li a:hover,
        li a.active {
            background: none;
            color: red;
        }
        #check:checked~ul {
            right: 0;
        }
    }