$cubic: ease-in;
.header-inicio {
    background-image: url(../img/header-1-vetdiagnostic.png);
    background-position-x: -3rem;
    @media (min-width: 400px) {
        background-position-x: -4.5rem;
    }
    @media (min-width: 550px) {
        background-position-x: -6rem;
    }
    @media (min-width: 750px) {
        background-position-x: 0rem;
    }
}

.header-inicio {
    animation: animacion-1 10s $cubic infinite alternate;
}

@keyframes animacion-1 {
    0% {
        background-image: url(../img/header-1-vetdiagnostic.png);
    }
    18% {
        opacity: 0.5;
    }
    20% {
        background-image: url(../img/header-examenes.png);
        opacity: 0.3;
    }
    22% {
        opacity: 1;
    }
    60% {
        background-image: url(../img/header-inicio.png);
    }
}