[data-component="slideshow"] .slide {
    display: none;
    text-align: center;
    transition: 2s;
}

[data-component="slideshow"] .slide.active {
    display: block;
}

.slide-header {
    position: relative;
    height: 240px;
    overflow: hidden;
    @media (min-width: 550px) {
        height: 30rem;
    }
    @media (min-width: 768px) {
        height: 580px;
    }
}

.slide-imagenes {
    position: absolute;
}

.slide img {
    width: 100%;
    min-height: 240px;
    @media (min-width: 768px) {
        width: 1200px;
        height: 580px;
    }
}