@use 'icono-menu';
@use 'navbar';
$negro: #35353F;
$blanco: #F3F7F9;
header {
    margin-top: 200px;
}

.active {
    font-weight: 700;
}

.header-inicio {
    background-image: url(../img/header-inicio.png);
    width: 90vw;
    height: 600px;
}

.navegacion {
    list-style: none;
}