@use 'icono-menu';
@use 'navbar';
@font-face {
    font-family: 'Swis721 BT';
    src: url(../font/swiss721-bt_roman.ttf);
    font-weight: normal;
}

@font-face {
    font-family: 'Swis721 BT';
    src: url(../font/swiss721-bt_bold.ttf);
    font-weight: bold;
}

$negro: #35353F;
$blanco: #F3F7F9;
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav {
    font-family: 'Swis721 BT', sans-serif;
    font-weight: normal;
}

header {
    margin-top: 200px;
}

.active {
    font-weight: 700;
}

.header-inicio {
    background-image: url(../img/header-inicio.png);
    width: 90vw;
    height: 600px;
}

.navegacion {
    list-style: none;
}

.examenes img,
.ubicacion iframe {
    width: 90vw;
}