@use 'general';
@use 'icono-menu';
@use 'navbar';
@use 'paginas';
@use 'acordion';

/*** Componentes ***/

/* WhatsApp Flotante */

.whatsapp-flotante {
    position: fixed;
    top: 80vh;
    right: 20px;
}

/* Boton volver */

.boton-volver {
    display: flex;
    width: 100%;
    margin-top: 3rem;
    .boton {
        margin: auto;
    }
}