@charset "UTF-8";
.icono-menu {
  width: 32px;
  margin: auto;
}

.linea-1 {
  height: 3px;
  background-color: #35353F;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.linea-2 {
  height: 3px;
  background-color: #35353F;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  margin: 6px auto;
  /* Separación entre lineas */
}

.linea-3 {
  height: 3px;
  background-color: #35353F;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.icono-menu .linea-1 {
  animation: linea-1-inicial ease-in-out forwards 0.4s;
}
.icono-menu .linea-2 {
  animation: linea-2-inicial ease-in-out forwards 0.4s;
}
.icono-menu .linea-3 {
  animation: linea-3-inicial ease-in-out forwards 0.4s;
}
.icono-menu.activo .linea-1 {
  animation: linea-1 ease-in-out forwards 0.4s;
}
.icono-menu.activo .linea-2 {
  animation: linea-2 ease-in-out forwards 0.2s;
}
.icono-menu.activo .linea-3 {
  animation: linea-3 ease-in-out forwards 0.4s;
}

@keyframes linea-1 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}
@keyframes linea-1-inicial {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes linea-2 {
  0% {
    width: 32px;
    opacity: 1;
  }
  80% {
    width: 10px;
    opacity: 0.5;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}
@keyframes linea-2-inicial {
  0% {
    width: 0px;
    opacity: 0;
  }
  50% {
    width: 10px;
    opacity: 0.5;
  }
  100% {
    width: 32px;
    opacity: 1;
  }
}
@keyframes linea-3 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(-10px) rotate(135deg);
  }
}
@keyframes linea-3-inicial {
  0% {
    transform: translateY(-10px) rotate(135deg);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.navbar {
  color: #35353F;
  font-family: "Swis721 BT", sans-serif;
  font-weight: normal;
  height: 6rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;
  transition: height 0.3s;
  display: flex;
  background-color: #F3F7F9;
  box-shadow: 0px 1px 6px #CDCDCD;
}
@media (min-width: 750px) {
  .navbar {
    height: 8rem;
  }
}
.navbar .contenedor-navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 750px) {
  .navbar .contenedor-navbar {
    width: 100%;
  }
}
.navbar .contenedor-navbar #check {
  display: none;
}
.navbar .contenedor-navbar #check:checked ~ nav {
  left: 0;
}
.navbar .contenedor-navbar .checkbtn {
  display: block;
  height: 32px;
  width: 32px;
  margin: auto 0;
}
@media (min-width: 750px) {
  .navbar .contenedor-navbar .checkbtn {
    display: none;
  }
}
.navbar .contenedor-navbar .checkbtn .icono-mobile {
  display: flex;
  height: 32px;
  margin: auto 0;
}
@media (min-width: 750px) {
  .navbar .contenedor-navbar .checkbtn .icono-mobile {
    display: none;
  }
}

/* Menu de navegación */
.navegacion {
  position: fixed;
  width: 100%;
  background: #F3F7F9;
  top: 6rem;
  left: 100%;
  text-align: center;
  transition: all 0.5s;
  z-index: 10;
}
@media (min-width: 750px) {
  .navegacion {
    position: inherit;
    display: flex;
  }
}
.navegacion .enlaces {
  font-size: 1.2rem;
}
@media (min-width: 750px) {
  .navegacion .enlaces {
    margin: auto 40px auto auto;
    text-align: right;
    font-size: 1.4rem;
  }
}
.navegacion .enlaces .enlace {
  margin: 50px 0;
  line-height: 30px;
}
@media (min-width: 750px) {
  .navegacion .enlaces .enlace {
    padding-left: 80px;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
}
.navegacion .enlaces .enlace a {
  color: #35353F;
}
.navegacion .enlaces .enlace a.active, .navegacion .enlaces .enlace a:hover {
  color: #2E4F5D;
  transition: 0.5s;
}
.navegacion .enlaces .enlace a.active {
  font-weight: 700;
}

/* Corrección del top en menú mobile animado */
.nav4rem {
  top: 4rem;
}

/* Submenu */
.enlaces .icono-submenu {
  position: absolute;
  margin-top: 6px;
  margin-left: 10px;
}
@media (min-width: 750px) {
  .enlaces .icono-submenu {
    margin-top: 30px;
  }
}
.enlaces li.activo > a > .icono-submenu {
  transform: translateY(0) rotate(180deg);
}
.enlaces li > ul {
  display: none;
}
.enlaces li.activo > ul {
  display: block;
  right: 100px;
  background-color: #F3F7F9;
}
@media (min-width: 750px) {
  .enlaces li.activo > ul {
    position: fixed;
  }
}
.enlaces li.activo > ul > li {
  padding: 0 40px;
}
.enlaces .submenu li {
  margin: 1.2rem 0;
}

/* Corrección del top en submenu */
.submenu {
  top: 8rem;
}

.sub6rem {
  top: 6rem;
}

/* Nav se achica al hacer scroll */
.imagen-logo {
  margin: auto 0;
  text-align: center;
  height: 6rem;
  transition: height 0.3s;
}
@media (min-width: 750px) {
  .imagen-logo {
    height: 7rem;
  }
}

.nav100 {
  height: 4rem;
  transition: height 0.3s;
}
@media (min-width: 750px) {
  .nav100 {
    height: 6rem;
  }
}

.nav100 .imagen-logo {
  height: 4rem;
  transition: height 0.3s;
}
@media (min-width: 750px) {
  .nav100 .imagen-logo {
    height: 6rem;
  }
}

/* Fuentes */
@font-face {
  font-family: "Swis721 BT";
  src: url(../font/swiss721-bt_roman.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Swis721 BT";
  src: url(../font/swiss721-bt_bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Chiquita";
  src: url(../font/chiquita_normal.ttf);
  font-weight: normal;
}
/* Variables */
/* Globales */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 750px) {
  .contenedor {
    max-width: 1200px;
  }
}

.titulos {
  font-family: "Chiquita", sans-serif;
  font-size: 3rem;
  font-weight: normal;
  color: #35353F;
}
@media (min-width: 750px) {
  .titulos {
    font-size: 3.5rem;
  }
}

.contenedor .titulos {
  text-align: center;
  margin: 40px 0;
}
@media (min-width: 750px) {
  .contenedor .titulos {
    margin: 68px 0;
  }
}

.boton {
  display: block;
  font-family: "Swis721 BT", sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 10px;
  font-size: 1.2rem;
}
@media (min-width: 750px) {
  .boton {
    padding: 14px 28px;
    font-size: 1.4rem;
  }
}
.boton.transparente {
  background-color: #F3F7F9;
  border: solid 1px;
  border-color: #4E869F;
  color: #4E869F;
}
.boton.transparente:hover {
  background-color: #4E869F;
  border: solid 1px;
  border-color: #4E869F;
  color: #F3F7F9;
}
.boton.relleno {
  background-color: #4E869F;
  border: solid 1px;
  border-color: #4E869F;
  color: #F3F7F9;
}
.boton.relleno:hover {
  background-color: #84ABBC;
  border: solid 1px;
  border-color: #2E4F5D;
  color: #2E4F5D;
}
.boton:hover {
  cursor: pointer;
}

/* Mixins */
/* Secciones */
header {
  font-family: "Swis721 BT", sans-serif;
  margin-top: 6rem;
  color: #35353F;
}
@media (min-width: 750px) {
  header {
    margin-top: 8rem;
  }
}
header .header-inicio {
  background-image: url(../img/header-inicio.png);
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  header .header-inicio {
    height: auto;
  }
}
header .header-inicio .resultados-desktop {
  display: grid;
  grid-row-gap: 32px;
  display: none;
  color: #2E4F5D;
}
header .header-inicio .resultados-desktop img {
  margin: 0 auto;
}
header .header-inicio .resultados-desktop .examenes-texto {
  text-align: center;
}
header .header-inicio .resultados-desktop .examenes-texto h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 16px;
}
@media (min-width: 750px) {
  header .header-inicio .resultados-desktop .examenes-texto h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}
header .header-inicio .resultados-desktop .examenes-texto p {
  font-size: 1.2rem;
}
@media (min-width: 750px) {
  header .header-inicio .resultados-desktop .examenes-texto p {
    font-size: 1.4rem;
  }
}
header .header-inicio .resultados-desktop button {
  margin: 0 auto;
}
@media (min-width: 750px) {
  header .header-inicio .resultados-desktop {
    display: grid;
    padding: 32px 30px;
    margin: 40px 64px 40px auto;
    width: 25rem;
    height: 23.75rem;
    background-color: #F3F7F9;
    border-radius: 20px;
    border: solid 1px;
    border-color: #2E4F5D;
    opacity: 0.9;
  }
}
header .header-inicio .header-informacion {
  margin: auto 0 0 0;
  background-color: #6ED5F8;
  width: 100%;
  text-align: center;
  padding: 15px;
}
@media (min-width: 750px) {
  header .header-inicio .header-informacion {
    padding: 21px;
  }
}
header .header-inicio .header-informacion .titulo {
  font-size: 1.4rem;
  font-weight: bold;
}
@media (min-width: 750px) {
  header .header-inicio .header-informacion .titulo {
    font-size: 1.6rem;
  }
}
header .header-inicio .header-informacion p {
  font-size: 1.2rem;
  font-weight: normal;
}
@media (min-width: 750px) {
  header .header-inicio .header-informacion p {
    font-size: 1.4rem;
  }
}

.servicios .contenedor .examenes-contenedor {
  display: grid;
  text-align: center;
  color: #35353F;
}
.servicios .contenedor .examenes-contenedor .examenes {
  display: grid;
  grid-row-gap: 32px;
}
.servicios .contenedor .examenes-contenedor .examenes img {
  margin: 0 auto;
}
.servicios .contenedor .examenes-contenedor .examenes .examenes-texto {
  text-align: center;
}
.servicios .contenedor .examenes-contenedor .examenes .examenes-texto h3 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 16px;
}
@media (min-width: 750px) {
  .servicios .contenedor .examenes-contenedor .examenes .examenes-texto h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
}
.servicios .contenedor .examenes-contenedor .examenes .examenes-texto p {
  font-size: 1.2rem;
}
@media (min-width: 750px) {
  .servicios .contenedor .examenes-contenedor .examenes .examenes-texto p {
    font-size: 1.4rem;
  }
}
.servicios .contenedor .examenes-contenedor .examenes button {
  margin: 0 auto;
}
@media (min-width: 750px) {
  .servicios .contenedor .examenes-contenedor .examenes {
    display: none;
  }
}
.servicios .contenedor .examenes-contenedor .listado-examenes {
  display: grid;
  margin: 48px 0 24px;
}
.servicios .contenedor .examenes-contenedor .img-servicios-examenes {
  display: none;
}
@media (min-width: 750px) {
  .servicios .contenedor .examenes-contenedor .img-servicios-examenes {
    display: block;
  }
}

.ubicacion iframe {
  width: 90vw;
}

/*# sourceMappingURL=style.css.map */
