@charset "UTF-8";
.icono-menu {
  width: 32px;
  margin: auto;
}

.linea-1 {
  height: 3px;
  background-color: #35353F;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.linea-2 {
  height: 3px;
  background-color: #35353F;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  margin: 6px auto;
  /* Separación entre lineas */
}

.linea-3 {
  height: 3px;
  background-color: #35353F;
  border-radius: 5px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
}

.icono-menu .linea-1 {
  animation: linea-1-inicial ease-in-out forwards 0.4s;
}
.icono-menu .linea-2 {
  animation: linea-2-inicial ease-in-out forwards 0.4s;
}
.icono-menu .linea-3 {
  animation: linea-3-inicial ease-in-out forwards 0.4s;
}
.icono-menu.activo .linea-1 {
  animation: linea-1 ease-in-out forwards 0.4s;
}
.icono-menu.activo .linea-2 {
  animation: linea-2 ease-in-out forwards 0.2s;
}
.icono-menu.activo .linea-3 {
  animation: linea-3 ease-in-out forwards 0.4s;
}

@keyframes linea-1 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(8px) rotate(45deg);
  }
}
@keyframes linea-1-inicial {
  0% {
    transform: translateY(8px) rotate(45deg);
  }
  50% {
    transform: translateY(8px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes linea-2 {
  0% {
    width: 32px;
    opacity: 1;
  }
  80% {
    width: 10px;
    opacity: 0.5;
  }
  100% {
    width: 0px;
    opacity: 0;
  }
}
@keyframes linea-2-inicial {
  0% {
    width: 0px;
    opacity: 0;
  }
  50% {
    width: 10px;
    opacity: 0.5;
  }
  100% {
    width: 32px;
    opacity: 1;
  }
}
@keyframes linea-3 {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(-10px) rotate(135deg);
  }
}
@keyframes linea-3-inicial {
  0% {
    transform: translateY(-10px) rotate(135deg);
  }
  50% {
    transform: translateY(-10px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
.navbar {
  height: 6rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 12;
  transition: height 0.3s;
  display: flex;
  background-color: #F3F7F9;
  box-shadow: 0px 1px 6px #CDCDCD;
}
@media (min-width: 750px) {
  .navbar {
    height: 8rem;
  }
}
.navbar .contenedor {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
@media (min-width: 750px) {
  .navbar .contenedor {
    width: 100%;
  }
}
.navbar .contenedor #check {
  display: none;
}
.navbar .contenedor #check:checked ~ nav {
  left: 0;
}
.navbar .contenedor .checkbtn {
  display: block;
  height: 32px;
  width: 32px;
  margin: auto 0;
}
@media (min-width: 750px) {
  .navbar .contenedor .checkbtn {
    display: none;
  }
}
.navbar .contenedor .checkbtn .icono-mobile {
  display: flex;
  height: 32px;
  margin: auto 0;
}
@media (min-width: 750px) {
  .navbar .contenedor .checkbtn .icono-mobile {
    display: none;
  }
}

/* Menu de navegación */
.navegacion {
  position: fixed;
  width: 100%;
  background: #F3F7F9;
  top: 6rem;
  left: 100%;
  text-align: center;
  transition: all 0.5s;
  z-index: 10;
}
@media (min-width: 750px) {
  .navegacion {
    position: inherit;
    display: flex;
  }
}
.navegacion .enlaces {
  font-size: 1.2rem;
}
@media (min-width: 750px) {
  .navegacion .enlaces {
    margin: auto 40px auto auto;
    text-align: right;
    font-size: 1.4rem;
  }
}
.navegacion .enlaces .enlace {
  margin: 50px 0;
  line-height: 30px;
}
@media (min-width: 750px) {
  .navegacion .enlaces .enlace {
    padding-left: 80px;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
}
.navegacion .enlaces .enlace a {
  color: #35353F;
}
.navegacion .enlaces .enlace a.active, .navegacion .enlaces .enlace a:hover {
  color: #2E4F5D;
  transition: 0.5s;
}

/* Corrección del top en menú mobile animado */
.nav4rem {
  top: 4rem;
}

/* Submenu */
.enlaces .icono-submenu {
  position: absolute;
  margin-top: 6px;
  margin-left: 10px;
}
@media (min-width: 750px) {
  .enlaces .icono-submenu {
    margin-top: 30px;
  }
}
.enlaces li.activo > a > .icono-submenu {
  transform: translateY(0) rotate(180deg);
}
.enlaces li > ul {
  display: none;
}
.enlaces li.activo > ul {
  display: block;
  right: 100px;
  background-color: #F3F7F9;
}
@media (min-width: 750px) {
  .enlaces li.activo > ul {
    position: fixed;
  }
}
.enlaces li.activo > ul > li {
  padding: 0 40px;
}
.enlaces .submenu li {
  margin: 1.2rem 0;
}

/* Corrección del top en submenu */
.submenu {
  top: 8rem;
}

.sub6rem {
  top: 6rem;
}

/* Nav se achica al hacer scroll */
.imagen-logo {
  margin: auto 0;
  text-align: center;
  height: 6rem;
  transition: height 0.3s;
}
@media (min-width: 750px) {
  .imagen-logo {
    height: 7rem;
  }
}

.nav100 {
  height: 4rem;
  transition: height 0.3s;
}
@media (min-width: 750px) {
  .nav100 {
    height: 6rem;
  }
}

.nav100 .imagen-logo {
  height: 4rem;
  transition: height 0.3s;
}
@media (min-width: 750px) {
  .nav100 .imagen-logo {
    height: 6rem;
  }
}

@font-face {
  font-family: "Swis721 BT";
  src: url(../font/swiss721-bt_roman.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Swis721 BT";
  src: url(../font/swiss721-bt_bold.ttf);
  font-weight: bold;
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  font-family: "Swis721 BT", sans-serif;
  font-weight: normal;
}

header {
  margin-top: 200px;
}

.active {
  font-weight: 700;
}

.header-inicio {
  background-image: url(../img/header-inicio.png);
  width: 90vw;
  height: 600px;
}

.navegacion {
  list-style: none;
}

.examenes img,
.ubicacion iframe {
  width: 90vw;
}

/*# sourceMappingURL=style.css.map */
